{% extends "base.html" %}
    {% block customHeader %}
    <script src="/static/js/base.js"></script>
    {% endblock %}
    {% block customBody %}
      <div class="container">
        <div class="jumbotron" style="text-align:center; ">
          <img src="static/img/logo.png" style="width:22%;">
          <h2>Finding a pad to launch your dreams from.</h2>
        </div>
        <div class="jumbotron" style="text-align:center; ">
          <h3>Please select what type of busines you are going to launch?</h3>
            <form action="/" method="POST">
              {% csrf_token %}
            <div class="input-group stylish-input-group">
              <div id = "attachToMe">
              <select id = "selectType" name="type" class="form-control">
                <option value="1">Tech-Startup</option>
                <option value="2">Restaurant</option>
                <option value="3">Cafe</option>
              </select>
              </div>
              </div>
              </form>

              </div>
        </div>
      </div>
    {% endblock %}